<head>
    <title>{{ site.title | escape }}{%- if page.title -%} :: {{ page.title }}{%- endif -%}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self' https://maxcdn.bootstrapcdn.com; img-src 'self'; font-src 'self' fonts.googleapis.com https://maxcdn.bootstrapcdn.com; report-uri https://randomcomplexity.report-uri.com/r/d/csp/reportOnly; report-to https://randomcomplexity.report-uri.com/r/d/csp/reportOnly">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" integrity="sha256-U0jEjisNVXXXZksAYGLaGboFu0eOtN8bVEb0vs0mUQc=" crossorigin="anonymous">
</head>