<header class="site-header" role="banner">
    <nav class="main_menu">
        <strong><a class="site-title" rel="author" href="{{ site.url }}">{{ site.title }}{%- if page.title  -%}&nbsp;::&nbsp;{{ page.title }}{%- endif -%}</a></strong> {%- if site.collections -%}
        <ul class="menu_items">
            {%- for thiscategory in site.categories -%}
            <li class="menu_item">
                <span>Categories</span>
                <ul class="submenu_items">
                    {%- for thispage in site.categories.thiscategory` -%}
                    <li><a class="page-link" href="{{ thispage.url }}">{{ thispage.title | escape }}</a></li>{%- endfor -%}
                </ul>
            </li>
            {%- endfor -%}
        </ul>
    </nav>
</header>