<header class="site-header" role="banner">
    <nav class="main_menu">
        <strong><a class="site-title" rel="author" href="{{ site.url }}">{{ site.title }}{%- if page.title  -%}&nbsp;::&nbsp;{{ page.title }}{%- endif -%}</a></strong>
        <ul class="menu_items">
            <li class="menu_item">
                <span>Latest</span>
                <ul class="submenu_items">
                    {% for thispost in site.posts limit:10 %}
                    <li><a class="page-link" href="{{ thispost.url }}">{{ thispost.title | escape }}</a></li>{%- endfor -%}
                </ul>
            </li>
            <li class="menu_item">
                <span>Pages</span>
                <ul class="submenu_items">
                    {%- for thispage in site.html_pages` -%}
                    <li><a class="page-link" href="{{ thispage.url }}">{{ thispage.title | escape }}</a></li>{%- endfor -%}
                </ul>
            </li>
        </ul>
    </nav>
</header>